#modal_apis {
 background-color: #000A;
 justify-content: center;
 align-items: center;
 font-size: large;
 font-weight: 500;
 position: fixed;
 cursor: pointer;
 height: 100%;
 display: flex;
 z-index: 100;
 width: 100%;
 left: 0;
 top: 0;
}

.modal_apis_conteudo::before {
 box-shadow: var(--sombra-0);
 pointer-events: none;
 position: absolute;
 content: '';
 inset: 0;
}

.modal_apis_conteudo {
 background-size: 300% 300% !important;
 border: 1px solid var(--destaque);
 justify-content: space-between;
 flex-direction: column;
 height: fit-content;
 border-radius: 8px;
 position: absolute;
 cursor: default;
 display: flex;
 width: 500px;
 gap: 10px;
}

#modal_apis_logo {
 background: var(--linear-apis);
 box-shadow: var(--sombra-0);
 position: absolute;
 height: 80px;
 width: 100px;
 top: -30px;
 right: 20px;
}

#modal_apis_logo img {
 border: 1px solid var(--destaque);
 object-fit: contain;
 height: 100%;
 width: 100%;
}

#modal_apis_conteudo_basico {
 flex-direction: column;
 padding: 20px;
 display: flex;
 gap: 10px;
}

#modal_apis_conteudo_basico span {
 color: var(--destaque);
 margin-right: 10px;
 font-weight: bold;
 font-size: large;
}

#modal_apis_conteudo_basico p {
 text-overflow: ellipsis;
 flex: 1 1 fit-content;
 position: relative;
 overflow: hidden;
}

#modal_apis_conteudo_basico p:nth-child(1) {
 max-width: 300px !important;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

#modal_apis_conteudo_basico div {
 display: flex;
 gap: 10px;
}

#modal_apis_conteudo_basico div p:first-child {
 -webkit-box-orient: vertical;
 max-height: calc(1.5em * 4);
 text-overflow: ellipsis;
 -webkit-line-clamp: 4;
 display: -webkit-box;
 white-space: normal;
 overflow: hidden;
 line-height: 1.5;
 line-clamp: 4;
}

#modal_apis_conteudo_basico div p:last-child {
 flex: 1 0 fit-content;
}

#modal_lista_metodos {
 background-color: var(--tema-fundo-4);
 border-radius: 0 0 7px 7px;
 padding: 10px 20px 20px;
 flex-direction: column;
}

#modal_lista_metodos>div {
 flex-direction: row;
 position: relative;
 overflow: hidden;
 display: flex;
 width: 100%;
 gap: 5px;
}

#modal_lista_metodos>div::after {
 background: linear-gradient(to right, #0000 0%, #0000 80%, var(--tema-fundo-4) 100%);
 pointer-events: none;
 position: absolute;
 content: '';
 inset: 0;
}

/* Smartphone  */
@media (max-width: 600px) {
 .modal_apis_conteudo {
  height: fit-content;
  border-radius: 8px;
  padding-top: 30px;
  max-height: 90%;
  width: 90%;
  gap: 10px;
 }

 #modal_apis_logo:first-child {
  transform: translateX(50%);
  height: 100px;
  width: 120px;
  right: 50%;
  top: -70px;
 }
}