#pagina_api {
 transform: translate3d(-50%,-50%,0);
 flex-direction: column;
 position: relative;
 max-height: 800px;
 max-width: 1200px;
 font-size: large;
 display: flex;
 padding: 10px;
 height: 100%;
 width: 100%;
 left: 50%;
 top: 50%;
}

#pagina_api h2 {
 margin-bottom: 20px;
 text-align: center;
}

#pagina_api p {
 font-weight: 500;
}

#pagina_api p {
 overflow-wrap: break-word;
 word-break: break-word;
 white-space: normal;
}

#pagina_api a {
 overflow-wrap: anywhere;
 word-wrap: break-word;
 display: inline-block;
 white-space: normal;
}

#pagina_api_metodos{
 background-size: 300% 300% !important;
 border-radius: 10px;
 overflow: hidden;
 height: 100%;
}