#populares {
  background-color: var(--tema-fundo);
  box-shadow: var(--sombra-0);
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 320px;
  overflow: hidden;
  flex: 0 1 320px;
  padding: 5px 0;
  display: flex;
  width: 100%;
  gap: 5px;
}

#populares::after {
  background: linear-gradient(to right, #0007 0%, #0000 30%, #0000 70%, #0007 100%);
  pointer-events: none;
  position: absolute;
  content: '';
  inset: 0;
}

#carousel {
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 275px;
  height: 275px;
  display: flex;
  width: 100%;
}

.populares_itens {
  position: absolute !important;
  left: 50%;
}

.populares_itens.centro {
  transform: translateX(-50%) scale(1);
  z-index: 4;
}

.populares_itens.centro:hover {
  transform: translateX(-50%) scale(1.1);
}

.populares_itens.esquerda {
  transform: translateX(-190%) scale(0.8);
  z-index: 3;
}

.populares_itens.esquerda:hover {
  transform: translateX(-190%) scale(0.85);
}

.populares_itens.mais_esquerda {
  transform: translateX(-300%) scale(0.6);
  opacity: .8;
  z-index: 2;
}

.populares_itens.mais_esquerda:hover {
  transform: translateX(-300%) scale(0.63);
}

.populares_itens.direita {
  transform: translateX(90%) scale(0.8);
  z-index: 3;
}

.populares_itens.direita:hover {
  transform: translateX(90%) scale(0.85);
}

.populares_itens.mais_direita {
  transform: translateX(200%) scale(0.6);
  opacity: .8;
  z-index: 2;
}

.populares_itens.mais_direita:hover {
  transform: translateX(200%) scale(0.63);
}

.populares_itens.oculto {
  z-index: 1;
}

#populares_botoes {
  justify-content: center;
  display: flex;
  padding: 5px;
}

#populares_botoes * {
  background: var(--fundo);
  transition: all 0.3s;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  height: 15px;
  padding: 0;
  width: 15px;
  border: 0;
}

#populares_botoes button.ativo {
  background: var(--destaque-claro);
  scale: 1.5;
}

#populares_botoes button:hover {
  background: var(--destaque);
  scale: 1.2;
}

/* Smartphone  */
@media screen and (max-width: 600px) {

  #populares {
    height: fit-content;
    min-height: 180px;
    width: 100vw;
    padding: 0;
    gap: 0;
  }

  #carousel {
    min-height: fit-content;
    height: 150px;
    margin: 0;
  }

  #populares_botoes button {
    margin: 0 12px;
    height: 15px;
    width: 15px;
  }

}