#logo {
 align-items: center;
 width: fit-content;
 min-width: 200px;
 color: #FFF;
 display: flex;
 padding: 5px;
 width: 200px;
 gap: 10px;
}

#logo img {
 padding: 2px;
 height: 100%;
}

#logo div {
 flex-direction: column;
 display: flex;
}

#logo span {
 border-bottom: 1px solid var(--destaque);
 width: fit-content;
 font-size: 14px;
 padding: 0 2px;
}

/* Smartphone  */
@media screen and (max-width: 600px) {
 #logo {
  min-width: 60px;
  width: 60px;
  padding: 0;
  gap: 0;
 }

 #logo span{
  display: none;
 }

 #logo img {
  height: 90%;
 }
}