#conteudo_perfil {
 height: calc(100% - 100px);
 position: relative;
 overflow: hidden;
 width: 100%;
}

.formularios {
 height: calc(100% - 40px);
 justify-content: center;
 max-height: fit-content;
 flex-direction: column;
 align-items: center;
 overflow-y: scroll;
 max-width: 800px;
 display: none;
 padding: 10px;
 width: 100%;
 gap: 15px;
}

#conteudo_editavel_perfil {
 justify-content: center;
 display: flex;
 padding: 10px;
 height: 100%;
 width: 100%;
}

.formularios.ativo {
 overflow-y: scroll;
 display: flex;
}

.menu_perfil {
 box-shadow: var(--sombra-1);
 justify-content: center;
 list-style: none;
 display: flex;
 height: 50px;
 padding: 0;
 gap: 5%;
}

.menu_perfil li {
 color: var(--cor-principal-texto);
 text-overflow: ellipsis;
 white-space: nowrap;
 text-align: center;
 font-weight: bold;
 font-size: large;
 overflow: hidden;
 cursor: pointer;
 padding: 10px;
 width: 40%;
}

.menu_perfil li.ativo {
 border-bottom: 2px solid #F74;
}

#tel_usuario {
 display: flex;
}

.campo_senha {
 width: 100%;
}

#campos_senha_perfil {
 flex-direction: row;
 align-items: end;
 display: flex;
}

.div_pai_nova_senha_perfil {
 flex-direction: column;
 display: flex;
 width: 100%;
}

#div_filho_nova_senha_perfil {
 margin: 4px !important;
}

.dados_usuario_ver_senha {
 bottom: 10px;
}

/* Smartphone */
@media (max-width: 600px) {
 .formularios {
  height: fit-content;
 }

 #campos_senha_perfil {
  flex-direction: column;
 }

 #conteudo_perfil {
  padding-bottom: 10px;
  height: 100%;
 }

 #conteudo_editavel_perfil {
  height: calc(100% - 80px);
  overflow-y: scroll;
 }

}

/* Smartwatch  */
@media (max-width: 300px) {
 #conteudo_perfil {
  height: 100%;
 }

 .formularios {
  font-size: x-small;
  padding: 2px 8px;
  height: 100%;
  margin: 0;
 }

 .formularios input {
  height: fit-content;
  border-radius: 4px;
  font-size: small;
  padding: 2px 4px;
 }

 .menu_perfil {
  height: fit-content;
 }

 .menu_perfil li {
  height: fit-content;
  font-size: x-small;
  padding: 2px;
  margin: 0;
 }

 #conteudo_editavel_perfil {
  height: 150px !important;
  max-height: none;
  min-height: 0;
  padding: 0;
  margin: 0;
 }

 #tel_usuario {
  gap: 2px;
 }

 #tel_usuario input:first-child {
  padding: 2px;
  width: 40px;
 }

 .aviso_erro {
  font-size: xx-small;
 }

 .dados_usuario_ver_senha {
  height: 15px;
  width: auto;
  right: 3%;
 }

 .dados_usuario_checkbox .span_dados_usuario_checkbox:after {
  border-width: 0 2px 2px 0 !important;
  height: 8px;
  width: 4px;
  left: 6px;
  top: 2px;
 }

 .span_dados_usuario_checkbox {
  border-radius: 2px;
  height: 18px;
  width: 18px;
 }

 .dados_usuario_checkbox {
  gap: 8px;
 }
}