#rodape {
  background: var(--linear-rodape);
  background-size: 200% 100%;
  color: var(--tema-texto);
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
  display: flex;
  height: 250px;
  width: 100%;
}

#rodape a {
  border-bottom: 1px solid transparent;
  color: var(--tema-texto);
  transition: all 0.5s;
  width: fit-content;
}

#infor_links_uteis {
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 10px;
  display: flex;
}

#rodape a:hover:not(.fundadores_social a) {
  border-bottom: 1px solid var(--destaque);
}

.rodape_fixar_abaixo {
  bottom: 0;
  left: 0;
}

.infor_links {
  flex-direction: column;
  padding: 10px;
  display: flex;
  gap: 10px;
}

#infor_partocinio {
  display: flex;
  order: 3;
}

#infor_ahb {
  align-items: end;
}

#infor_rank a::first-letter {
  color: var(--destaque);
}

#infor_abh {
  background-color: var(--tema-fundo);
  justify-content: space-between;
  color: var(--tema-texto);
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  height: 70px;
  width: 100%;
}

#infor_abh div {
  display: flex;
  gap: 25px;
}

#ranks {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.aba_conteudo {
  align-content: center;
  position: relative;
  align-self: center;
  overflow-y: auto;
  display: none;
  height: 100%;
  padding: 0;
}

div#ranks_recentes {
  height: calc(100% - 40px);
  flex-direction: column;
  position: relative;
  user-select: none;
  max-width: 700px;
  padding: 25px;
  width: 80%;
  gap: 10px;
}

.aba_conteudo h1 {
  text-align: center;
}

.ranks_apis {
  background-color: var(--destaque-escuro);
  justify-content: space-between;
  box-shadow: var(--sombra-2);
  color: var(--tema-texto);
  transition: scale 0.5s;
  border-radius: 5px;
  position: relative;
  min-height: 150px;
  overflow: hidden;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  width: 350px;
}

.ranks_apis:hover {
  scale: 1.03;
}

.ranks_apis hr {
  background-size: 200% 200% !important;
  transform: translateY(-50%);
  position: absolute;
  height: 30px;
  width: 100%;
  z-index: 0;
  border: 0;
  top: 50%;
  left: 0;
}

.ranks_apis>div {
  width: 100%;
  z-index: 1;
}

.ranks_apis>div>div {
  display: flex;
  height: 40%;
}

.ranks_apis p {
  justify-content: center;
  text-overflow: ellipsis;
  line-break: nowrap;
  align-items: end;
  overflow: hidden;
  display: flex;
  height: 60%;
  width: 100%;
  z-index: 1;
  left: 0;
}

.ranks_apis img {
  object-fit: contain;
  border-radius: 5px;
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
}

/* Table */
@media screen and (max-width: 1000px) {

  #infor_abh p {
    flex-direction: column;
    display: flex;
  }

  #infor_abh>div {
    flex-direction: column;
    align-items: end;
    display: flex;
    gap: 5px;
  }

}

/* Smartphone */
@media screen and (max-width: 600px) {
  #rodape {
    height: fit-content;
  }

  #infor_links_uteis {
    padding: 10px;
  }

  #infor_links_uteis>div {
    padding: 0;
  }

  #infor_abh {
    height: fit-content;
    margin-top: 10px;
    padding: 10px;
  }

  #infor_abh b {
    width: fit-content;
  }

  #infor_abh>div {
    height: 100%;
    width: 50%;
  }

  #infor_abh>div>div {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }

  div#ranks_recentes {
    width: 100%;
  }

  .ranks_apis {
    align-self: center !important;
    max-width: 300px;
    width: 100%;
  }
}