#rodape {
  background: var(--linear-rodape);
  background-size: 200% 100%;
  color: var(--tema-texto);
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
  display: flex;
  height: 250px;
  width: 100%;
}

#rodape a {
  border-bottom: 1px solid transparent;
  color: var(--tema-texto);
  transition: all 0.5s;
  width: fit-content;
}

#infor_links_uteis {
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 10px;
  display: flex;
}

#rodape a:hover:not(.fundadores_social a) {
  border-bottom: 1px solid var(--destaque);
}

.rodape_fixar_abaixo {
  bottom: 0;
  left: 0;
}

.infor_links {
  flex-direction: column;
  padding: 10px;
  display: flex;
  gap: 10px;
}

#infor_partocinio {
  display: flex;
  order: 3;
}

#infor_ahb {
  align-items: end;
}

#infor_rank a::first-letter {
  color: var(--destaque);
}

#infor_abh {
  background-color: var(--tema-fundo);
  justify-content: space-between;
  color: var(--tema-texto);
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  height: 70px;
  width: 100%;
}

#infor_abh div {
  display: flex;
  gap: 25px;
}

/* Table */
@media screen and (max-width: 1000px) {

  #infor_abh p {
    flex-direction: column;
    display: flex;
  }

  #infor_abh>div {
    flex-direction: column;
    align-items: end;
    display: flex;
    gap: 5px;
  }

}

/* Smartphone */
@media screen and (max-width: 600px) {
  #rodape {
    height: fit-content;
  }

  #infor_links_uteis {
    padding: 10px;
  }

  #infor_links_uteis>div {
    padding: 0;
  }

  #infor_abh {
    height: fit-content;
    margin-top: 10px;
    padding: 10px;
  }

  #infor_abh b {
    width: fit-content;
  }

  #infor_abh>div {
    height: 100%;
    width: 50%;
  }

  #infor_abh>div>div {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }
}