#gerenciar * {
 margin: 0;
}

#gerenciar {
 position: relative;
 user-select: none;
 overflow: hidden;
 display: flex;
 height: 100%;
 width: 100%;
}

#gerenciar_menu {
 padding-bottom: env(safe-area-inset-bottom, 16px);
 flex-direction: column;
 height: fit-content;
 position: relative;
 width: fit-content;
 font-size: large;
 min-width: 200px;
 height: 100%;
 display: flex;
 border: 0;
 order: 1;
 border-right: 2px solid var(--destaque-claro);
}

#gerenciar_menu a {
 transition: background-color 0.3s ease;
 padding: 15px 10px 15px 20px;
 justify-content: start;
 align-items: center;
 color: var(--texto);
 position: relative;
 font-weight: 500;
 cursor: pointer;
 display: flex;
 width: 100%;
}

#gerenciar_menu a:hover {
 background-color: var(--destaque-claro) !important;
 color: var(--tema-texto);
}

#gerenciar_menu a.ativo {
 background-color: var(--destaque-escuro);
 color: var(--tema-texto);
}

#gerenciar_conteudo {
 position: relative;
 overflow: hidden;
 font-weight: 500;
 height: 100%;
 width: 100%;
 order: 2;
}

.gerenciar_titulos {
 background-size: 200% 100% !important;
 background-color: var(--borda);
 box-shadow: var(--sombra-2);
 justify-content: center;
 align-items: center;
 color: var(--texto);
 position: relative;
 max-height: 100px;
 padding: 20px 0;
 overflow: auto;
 display: flex;
 height: 100px;
}

.gerenciar_pagina {
 height: calc(100% - 100px);
 overflow-y: scroll;
 position: relative;
 padding: 0 20px;
 width: 100%;
}

#gerenciar_conteudo::after {
 background: linear-gradient(to top, #0000 0%, #0000 99%, #0004 100%);
 pointer-events: none;
 position: absolute;
 content: '';
 inset: 0;
 top: 100px;
}

.perfil_privado {
 justify-content: center;
}

.perfil_privado form>div {
 margin-bottom: 25px;
}

@media screen and (max-width: 1020px) {
 #gerenciar {
  flex-direction: column;
 }

 #gerenciar_menu {
  border-top: 2px solid var(--destaque-escuro);
  flex-direction: row;
  width: 100%;
  height: 7%;
  order: 2;
  gap: 0;
 }

 #gerenciar_conteudo {
  height: 100%;
  order: 1;
 }

 #gerenciar_menu a {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 !important;
 }

 #gerenciar_conteudo::after {
  top: 70px;
 }

 .gerenciar_pagina {
  height: 90%;
 }

 .gerenciar_titulos {
  height: 70px;
 }

}

@media screen and (max-width: 600px) {}