#gerenciar_modal_apis {
 background-color: #000A;
 justify-content: center;
 align-items: center;
 font-size: large;
 font-weight: 500;
 position: fixed;
 cursor: pointer;
 display: flex;
 z-index: 1000;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
}

.modal_nova_api {
 background-size: 200% 300% !important;
 border: 1px solid var(--destaque);
 box-shadow: var(--sombra-0);
 padding: 0 !important;
 border-radius: 8px;
 overflow: hidden;
 cursor: default;
 height: 80vh;
 width: 500px;
 overflow-y: scroll;
}

.modal_nova_api form {
 justify-content: space-between;
 flex-direction: column;
 height: fit-content;
 position: relative;
 display: flex;
 padding: 20px;
 gap: 5px;
}

.modal_nova_api select {
 cursor: pointer;
}

.modal_nova_api textarea {
 height: 100px;
}

.modal_nova_api .aviso_campo_invalido {
 position: relative;
}

.dados_api {
 margin: 5px 0 !important;
 flex-direction: column;
 position: relative;
 display: flex;
}

.dados_api p {
 padding: 5px;
}

.modal_nova_api #img_prever {
 justify-content: center;
 height: fit-content;
 border-radius: 8px;
 overflow: hidden;
 cursor: pointer;
 display: flex;
 width: 100%;
}

.modal_nova_api img {
 object-fit: contain;
 height: 150px;
 width: 250px;
}

#gerenciar_modal_apis #botoes {
 justify-content: space-between;
 margin-top: 20px;
 display: flex;
}

.modal_nova_api i {
 color: var(--destaque);
 font-weight: 500;
}

textarea {
 height: 100px;
 resize: none;
}

/* Smartphone */
@media screen and (max-width: 600px) {
 .modal_nova_api {
  font-size: medium;
  padding: 10px;
  height: 90%;
  width: 80%;
  gap: 0px;
 }
}

/* Smartwatch */
@media screen and (max-width: 300px) {
 .modal_nova_api {
  border-radius: 4px;
  padding: 4px;
  width: 85%;
 }

 .dados_api {
  font-size: x-small;
  padding: 0;
  margin: 0;
 }

 .dados_api p {
  padding: 4px 2px;
  font-size: 7px;
  margin: 0;
 }

 .dados_api input {
  border-radius: 4px;
  padding: 4px 5px;
  font-size: 8px;
 }

 textarea {
  border-radius: 4px;
  font-size: 8px;
  padding: 4px;
  height: 50px;
  margin: 0;
 }

 #img_prever {
  height: 100px !important;
  padding: 0 !important;
 }

 #img_prever img {
  object-fit: contain;
  height: 100%;
  width: 100%;
 }
}