.abas_titulos {
 color: var(--cor-principal-texto);
 justify-content: space-around;
 text-overflow: ellipsis;
 height: fit-content;
 white-space: nowrap;
 text-align: center;
 font-weight: bold;
 font-size: large;
 overflow: hidden;
 cursor: pointer;
 display: flex;
 width: 100%;
}

.abas_titulos a {
 justify-content: center;
 padding-bottom: 15px;
 align-items: center;
 display: flex;
 height: 100%;
 width: 100%;
 border-bottom: 2px solid transparent;
}

.aba_ativa {
 border-bottom: 2px solid #F74 !important;
}

.aba_conteudo {
 display: none;
 padding: 10px;
 height: 100%;
 width: 100%;
}

.aba_conteudo_ativo {
 overflow-y: scroll;
 display: flex;
}
