.conteudo_termos {
  padding-bottom: 20px;
  height: fit-content;
  user-select: text;
  font-size: large;
}

.conteudo_termos div {
  text-align: center;
}

.conteudo_termos h2 {
  padding: 20px;
}

li {
  margin-left: 25px !important;
}

/* Smartphone */
@media screen and (max-width: 600px) {

  .conteudo_termos {
    padding: 8px;
  }

  .conteudo_termos h2 {
    padding: 8px 4px;
    font-size: large;
    margin: 0;
  }

}

/* Smartwatch */
@media screen and (max-width: 300px) {

  .conteudo_termos {
    font-size: x-small;
    padding: 2px;
    height: 100%;
  }

  .conteudo_termos h2 {
    font-size: small;
    padding: 4px;
    margin: 0;
  }

}