@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Principal */
  --texto: #000;
  --fundo: #EEE;
  --borda: #888;
  --entrada-texto: #000;
  --entrada-fundo: #DDD;
  --link: #830;
  --link-hover: #000;
  --destaque: #C40;
  --destaque-claro: #F74;
  --destaque-escuro: #B40;
  /* Botões, Imput's, Select's */
  --tema-texto: #FFF;
  --tema-fundo: #730;
  --tema-fundo-1: #B40;
  --tema-fundo-2: #A30;
  --tema-fundo-3: #DDD;
  --tema-fundo-4: #AAA;
  --tema-texto-disativar: #BBB;
  --tema-fundo-disativar: #AAA;
  --tema-placeholder: #AAA;
  --tema-hover-texto: #FFF;
  --tema-hover-fundo: #420;
  --icones-laranjas: contrast(0) brightness(2);
  /* Lineares */
  --linear-apis: linear-gradient(-45deg, #AAA, #FFF);
  --linear-cabecalho: linear-gradient(to right, #F74 0%, #B41 30%, #B41 100%);
  --linear-efeito: #EEE 0%, #EEE5 50%, #0000 100%;
  --linear-acesso: linear-gradient(45deg, #FFF 0%, #777 100%);
  --linear-acesso-2: linear-gradient(45deg, #FFF 0%, #BBB 100%);
  --linear-erro: linear-gradient(to right, #000 0%, #555 100%);
  --linear-rodape: linear-gradient(to right, #A40 0%, #520 20%, #830 100%);
  /* Efeitos */
  --fundo-selecionado: #D52;
  --inverter: invert(1);
  /* Não precisa repetir */
  --texto-especial: #F74;
  --texto-selecionado: #FFF;
  --sombra-0: inset 0px 0px 15px #0006;
  --sombra-1: -4px -4px 8px 0 #0005, 4px 4px 8px #AAA5;
  --sombra-2: 0px 0px 8px #0008;
  --sombra-3: inset 0px 0px 8px #0004;
  --sombra-4: 0px 0px 8px #000;
  /* Erro */
    --erro-texto: #D40;
    --erro-borda: #E40;
}

[data-tema="escuro"] {
  /* Principal */
  --texto: #FFF;
  --fundo: #222;
  --borda: #444;
  --entrada-texto: #FFF;
  --entrada-fundo: #777;
  --link: #BBB;
  --link-hover: #FFF;
  --destaque: #F74;
  --destaque-claro: #888;
  --destaque-escuro: #333;
  /* Botões, Imput's, Select's */
  --tema-texto: #FFF;
  --tema-fundo: #444;
  --tema-fundo-1: #999;
  --tema-fundo-2: #888;
  --tema-fundo-3: #444;
  --tema-fundo-4: #444;
  --tema-texto-disativar: #777;
  --tema-fundo-disativar: #000;
  --tema-placeholder: #BBB;
  --tema-hover-texto: #FFF;
  --tema-hover-fundo: #555;
  --icones-laranjas: contrast(0) brightness(2);
  /* Lineares */
  --linear-apis: linear-gradient(-45deg, #000, #AAA);
  --linear-cabecalho: linear-gradient(to right, #444 0%, #333 30%, #333 100%);
  --linear-efeito: #222 0%, #2225 50%, #0000 100%;
  --linear-acesso: linear-gradient(45deg, #222 0%, #777 100%);
  --linear-acesso-2: linear-gradient(45deg, #666 0%, #222 100%);
  --linear-rodape: linear-gradient(to right, #555 0%, #222 40%, #444 100%);
  /* Efeitos */
  --texto-selecionado: #FFF;
  --inverter: invert(0);
    /* Erro */
    --erro-texto: #F60;
    --erro-borda: #D50;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

*::selection {
  color: #FFF;
  background-color: #D50;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Montserrat', Verdana, sans-serif;
  background: var(--fundo);
  color: var(--texto);
  user-select: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

#cabecalho {
  background: var(--linear-cabecalho);
  justify-content: space-between;
  color: var(--texto);
  padding: 5px 20px;
  max-height: 70px;
  flex: 0 0 70px;
  display: flex;
  width: 100vw;
}

#corpo {
  flex-direction: column;
  overflow-y: scroll;
  flex: 1 1 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--link);
  font-weight: bold;
}

a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

button,
.botoes {
  background-color: var(--tema-fundo);
  color: var(--tema-texto);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: large;
  cursor: pointer;
  display: flex;
  padding: 10px;
  height: 40px;
  border: 0;
}

button:hover,
.botoes:hover {
  background-color: var(--tema-hover-fundo);
  color: var(--tema-hover-texto);
  border: 0;
}

input,
select,
textarea {
  background-color: var(--entrada-fundo);
  color: var(--entrada-texto);
  box-shadow: var(--sombra-3);
  border-radius: 8px;
  padding: 5px 10px;
  font-size: large;
  height: 40px;
  border: 0;
}

textarea::placeholder,
input::placeholder {
  color: var(--tema-placeholder);
}

input:disabled::placeholder {
  color: var(--tema-texto-disativar);
}

input:disabled {
  background-color: var(--tema-fundo-disativar);
  color: var(--tema-texto-disativar);
}

b {
  border-bottom: 1px solid var(--destaque);
  transition: border-bottom 0.4s;
}

b:hover {
  border-bottom: 1px solid var(--destaque-claro);
}

p {
  line-height: 1.5;
}

.alinhado {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.tela_inteira {
  height: 100vh;
  width: 100vw;
}

.juntos {
  justify-content: center;
}

.juntos>* {
  gap: 0;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.icones {
  filter: contrast(0) brightness(2);
  object-fit: fill;
  cursor: pointer;
  padding: 5px;
  height: 40px;
  width: 40px;
}

.icones:hover {
  filter: contrast(1) brightness(1);
}

.expandir {
  width: 100% !important;
  margin: 0 !important;
}

.botoes_laterais, .campos_laterais {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: 100%;
  gap: 15px !important;
}

.botoes_laterais>*, .campos_laterais>* {
  min-width: fit-content;
  width: 100%;
}

.aviso_erro {
  position: absolute;
  font-weight: 500;
  bottom: -22px;
  color: var(--erro-texto);
  right: 0;
}

.aviso_erro_borda {
  border: 1px solid var(--erro-borda);
}

.texto_erro {
  border-bottom: 1px solid #F85;
  border-top: 1px solid #F85;
  text-align: center;
  font-weight: 600;
  font-size: large;
  color: #A50;
}

.botao_voltar {
  background-image: url("./../../../assets/voltar.png");
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  filter: var(--inverter);
  transition: scale 0.4s;
  position: absolute;
  z-index: 100;
  height: 40px;
  width: 40px;
  left: 40px;
  top: 40px;
}

.botao_voltar:hover {
  background-color: transparent;
  scale: 1.2;
}

/* Dados do usuário (Acessar, Criar, Recuperar e Perfil) */
.dados_usuario_fundo {
  animation: ondular 5s infinite ease-in-out;
  background: var(--linear-acesso);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dados_usuario_principal {
  justify-content: space-between;
  background-color: var(--fundo);
  box-shadow: var(--sombra-1);
  flex-direction: column;
  height: fit-content;
  border-radius: 8px;
  align-items: ce;
  padding: 20px;
  display: flex;
  width: 300px;
  gap: 10px;
}

.dados_usuario {
  flex-direction: column;
  align-content: center;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  width: 100%;
}

.dados_usuario_titulos {
  margin: 0 !important;
}

.dados_usuario_tel {
  flex-direction: row;
  display: flex;
  width: 100%;
  gap: 10px;
}

.dados_usuario_tel input {
  width: 100%;
}

.dados_usuario_tel input:first-child {
  text-align: center;
  width: fit-content;
  max-width: 50px;
}

.dados_usuario_ver_senha {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  bottom: 18%;
  width: 30px;
  right: 2%;
}

.dados_usuario_checkbox {
  justify-content: start;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.span_dados_usuario_checkbox {
  border: 1px solid var(--destaque);
  border-radius: 4px;
  height: 21px;
  width: 21px;
}

.span_dados_usuario_checkbox:after {
  position: absolute;
  display: none;
  content: "";
}

.dados_usuario_checkbox input {
  opacity: 0;
}

.dados_usuario_checkbox input:checked~.span_dados_usuario_checkbox {
  background-color: var(--destaque-escuro);
}

.dados_usuario_checkbox input:checked~.span_dados_usuario_checkbox:after {
  display: block;
}

.dados_usuario_checkbox:hover input~.span_dados_usuario_checkbox {
  border: 1px solid var(--destaque-claro);
}

.dados_usuario_checkbox .span_dados_usuario_checkbox:after {
  border-width: 0 2px 2px 0 !important;
  border: 1px solid #FFF;
  transform: rotate(45deg);
  position: relative;
  height: 10px;
  width: 5px;
  left: 6px;
  top: 2px;
}

.input_dados_usuario_checkbox {
  display: none;
}

/* Efeitos */
.ondulacao-1 {
  animation: ondular 5s infinite ease-in-out;
  background: var(--linear-acesso);
}

.ondulacao-2 {
  animation: ondular 6s infinite ease-in-out;
  background: var(--linear-acesso-2);
}

.ondulacao-3 {
  animation: ondular 7s infinite ease-in-out;
  background: var(--linear-rodape);
}

@keyframes ondular {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 10%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* carregamento */
#container_carregando {
  color: var(--texto);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  gap: 0 !important;
  display: flex;
  padding: 40px;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#container_carregando p {
  border-bottom: 2px solid var(--destaques);
}

#container_carregando_pontos {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 10px;
}

.carregando_pontos {
  background-color: #F74;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.animacao-normal {
  animation: anim_normal 1.5s infinite ease-in-out;
  transition: all 0.5s;
}

@keyframes anim_normal {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animacao-caindo {
  animation: cair 2s forwards ease-in;
}

@keyframes cair {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes anima_erro {
  0% {
    text-shadow: 0 0 0 #0000;
    transform: scale(1);
  }

  30% {
    text-shadow: 1px 1px 3px #F005;
    transform: scale(1.1);
  }

  50% {
    text-shadow: 2px 2px 6px #F008;
    transform: scale(1.2);
  }

  100% {
    text-shadow: 5px 5px 10px #F00;
    transform: scale(1.5) skew(10deg);
    opacity: 0;
  }
}

/* Smartphone  */
@media (max-width: 600px) {

  .campos_laterais {
    flex-direction: column;
  }

  .icones:hover {
    filter: contrast(0) brightness(2);
  }

  #cabecalho {
    padding: 4px;
    height: 50px;
  }

  .expansiveis {
    width: 100%;
  }

  .aviso_erro{
    color: var(--erro-texto);
    bottom: -18px;
    right: 5px;
  }

}